.App {
  padding: 20px;
}
.container {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  overflow-y: scroll;
}
.virtual-container {
  position: relative;
  overflow: hidden;
}
.virtual {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.item {
  text-align: center;
  border: 1px solid;
  margin: 5px;
}
